$footerBorder: 1px solid rgba(221, 223, 229, 0.4);

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1.5rem;
  border-top: $footerBorder;
  padding: 1rem 1.5rem 1rem 0;
}

.pages {
  color: $gray;

  span {
    color: $brnad_color;
    padding: 0 0.3rem;
  }
}

.paginationContainer {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  margin: 2rem 0;
  padding: 1rem;
  list-style: none;
  li {
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    &.active {
      background: $brnad_color;
      color: #fff;
    }
  }
}

.paginationActions {
  display: flex;
  align-items: center;
  margin: 0 0.75rem;
  cursor: pointer;

  > div {
    padding: 0 0.5rem;
    position: relative;
    top: 0.1rem;
  }
}

.disabled {
  color: $gray;
  cursor: default;

  > div > div {
    border-color: $gray;
  }
}

.showAll {
  cursor: pointer;
}
