.button {
  font-size: 1.4rem;
  height: 4.5rem;
  background: $blue;
  color: #fff;
  border-radius: 0.4rem;
  border: none;
  padding: 0 1.5em;
  min-width: 8em;
  outline: none;
  cursor: pointer;
  &:hover,
  &:active {
    background: darken($blue, 4);
  }
}
.secondory {
  background: $brnad_color;

  &:hover,
  &:active {
    background: darken($brnad_color, 4);
  }
}
