.services_wrapper{
    padding: 5rem 0;
    h1{
        font-size: 3rem;
        color: $dark-gray;
    }
    .preloader_wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.newslist{
    display: flex;
    margin-bottom: 3rem;
    .desc{
        flex-basis: 70%;
        h3{
            margin-top: 0;
            font-size: 2rem;
        }
        p{
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
    figure{
        margin: 0;
        margin-right: 2rem;
        height: 100px;
        width: 100px;
        overflow: hidden;
        border-radius: 5px;

        img{
            width: 100%;
            min-height: 100px;
        }
    }
}