@import '../../../styles/main';

.container {
  display: flex;
  margin: 0 0.8rem;
  border: solid 1px $grey4;
  border-radius: 0.3rem;

  div {
    display: flex;
    padding: 0.6rem 0.8rem 0.4rem;
    justify-content: center;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  div:not(:first-child) {
    margin-left: -0.2rem;
  }

  .active {
    z-index: 999;
    background-color: $grey3;
    color: $default;
  }
}
