.content {
  margin-top: -20vh;
  position: relative;
  z-index: 9;
  border-radius: 2.5rem;
  background: #fff;
  min-height: 70vh;
  box-shadow: 0 3px 4px rgba(#000,0.1);
  padding: 5rem 3rem;
}
.title{
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}
