.InputTextBox {
  border: none;
  box-sizing: border-box;
  margin: 2rem 0 1.5rem;
  padding: 0;
  position: relative;

  &.error {
    input {
      border: 1px solid $red;
    }
  }

  label {
    color: $gray;
    // display: block;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    span {
      font-size: 1rem;
    }
  }

  input {
    border: 1px solid var(--input-border-color, $light-gray);
    border-radius: 4px;
    box-sizing: border-box;
    clear: both;
    font-size: 1.4rem;
    height: 4.5rem;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
    color: $dark-gray;
    &:focus,
    &:active {
      border: 1px solid $light-gray;
      outline: none;
    }
  }

  [type='number']::-webkit-outer-spin-button,
  [type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  [type='number'] {
    -moz-appearance: textfield;
  }

  .hint,
  .error_message {
    color: $gray;
    display: block;
    font-size: 1rem;
    margin: 0.2rem 0 0;
  }

  .error_message {
    bottom: -1.5rem;
    color: $red;
    position: absolute;
  }

  .optional {
    margin-top: 0.4rem;
  }
}
