.header {
  display: flex;
  align-items: center;
  background: $brnad_color;
  padding: 0.5em 0;
  position: sticky;
  z-index: 999;
  top: 0;
  box-sizing: border-box;
  height: $navbar-height;
  a{
     color: #fff;
  }
  .logo {
    max-width: 150px;
    color:#fff;
    font-size: 2rem;
  }
  .contact_link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a{
      border: 1px solid #fff;
      display: block;
      padding: 1rem 2rem;
      border-radius:3rem;
      margin: 0;
      text-transform: capitalize;
    }
  }
  
  .navbox {
    text-align: right;
  }
  
}
