@import '../../../styles/main';

$containerOpenBoxShadow: rgba(0, 0, 0, 0.1);
$dropdownBoxShadow: rgba(89, 102, 135, 0.18);

.container {
  @include typography(h7);
  border: 1px solid $grey3;
  background: $default;
  border-radius: 3px;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: $grey2;
  width: 12rem;
  cursor: pointer;
  position: relative;
}

.dropdownOpen {
  border: 0.1rem solid $grey2;
  box-shadow: 0 0.1rem 0.3rem 0 $containerOpenBoxShadow;
}

.iconContainer {
  padding-left: 1rem;

  .iconClass {
    position: relative;
    bottom: 0.1rem;
  }
}

.dropdown {
  @include typography(h7);
  position: absolute;
  background: $default;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0 0.2rem 0.6rem 0 $dropdownBoxShadow;
  color: $grey2;
  z-index: 999;
  top: 101%;
  left: 0;

  > div {
    padding-left: 1rem;
    height: 3rem;
    border-bottom: solid 0.1rem $bg-color;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: $grey4;
    }
  }

  .selectedOption {
    background: $primary-color;
    color: $default;

    &:hover {
      background: $primary-color;
    }
  }

  > div:last-child {
    border: 0;

    &:hover {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
}
