.bannerbg {
  margin-top: -3rem;
  min-height: 300px;
  background: url(@/assets/images/bg.jpg) no-repeat 0 bottom;
  background-size: cover;
  display: flex;
  padding: 3rem 0 25vh;
  align-items: flex-end;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    background: rgba($color: $brnad_color, $alpha: 0.4);
  }
}
.banner_text {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  z-index: 99;
  h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }
  p {
    font-size: 1.3rem;
  }
}
.search_form {
  display: flex;
  justify-content: space-between;
  // background-color: rgba($dark-gray, 0.5);
  padding: 1.5rem;
  border-radius: 4px;
  fieldset {
    margin-top: 0;
  }
  .formitem {
    width: 30%;
    margin-right: 0rem;
    border-right: 1px solid $light-gray;
    &:first-child {
      border-radius: 0.4rem 0 0 0.4rem;
    }
  }
  .formitem_search {
    width: 50%;

    input {
      border-radius: 0;
      border: none;
    }
  }
  .search_btn {
    width: 18rem;
    border-radius: 0 0.4rem 0.4rem 0;
  }
}
