
.container {
  display: flex;
}

.element {
  position: absolute;
  opacity: 0;
  color: $gray;
  + label {
    position: relative;
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
    align-items: center;
  }

  + label::before {
    content: '';
    display: flex;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 2px;
    margin-right: 1rem;
    border: solid 1px lighten($light-gray,0.5);
  }

  &:checked + label::before {
    color: #fff;
    background: $brnad_color;
    border: solid 1px $brnad_color;
  }

  &:checked + label::after {
    content: '';
    position: absolute;
    left: 0.5rem;
    top: 0.2rem;
    width: 0.5rem;
    height: 1rem;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
