.footer {
  padding-top: 1rem;
  margin-top: 3rem;
  border-top:1px solid $light-gray;
  .lonkbox {
    padding: 0 0 4rem 0rem;
    position: relative;
    .link_title {
      font-family: 'Poppins', sans-serif;
      text-transform: uppercase;
      // color: $purple;
      margin: 1rem 0 2rem;
    }
    .link {
      display: block;
      text-decoration: none;
      padding: 0.5rem 0;
      font-size: 1.4rem;

    }
  }
  .bottombar {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    // padding: 1rem;
    color: #fff;
    min-height: 70px;
    background-color: darken($brnad_color,10%);
  }
  .logo_bx {
    text-align: center;
  }
  .footerlogo {
    max-width: 100px;
  }
  .terms_link {
    text-align: end;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
.footer_top {
  margin-bottom: 2rem;
  padding: 3rem 0rem;
  &:after {
    content: '';
    display: flex;
    border-bottom: 1px solid $light-gray;
  }
  .footer_block {
    padding: 3rem 1rem;
    p {
      font-size: 1.4rem;
      // color: $gray;
      line-height: 1.8rem;
    }
  }
  .title {
    @extend %titleh2;
  }
}
