@import '@/styles/main';
// scss-lint:disable PropertySpelling

.SwitchBox {
  align-items: center;
  display: inline-flex;

  span {
    color: $grey3;
    cursor: pointer;
    font-size: 1.4rem;
    text-transform: capitalize;

    &.active {
      color: $grey1;
    }
  }

  &.on_right {
    .switch::after,
    .toggle::after {
      background: $primary-color;
      right: -0.5rem;
    }
  }

  &.on_left {
    .switch::after,
    .toggle::after {
      left: -0.5rem;
    }

    .switch::after {
      background: $grey3;
    }

    .toggle::after {
      background: $primary-color;
    }
  }
}

.labelLeft {
  margin-right: 1rem;
}

.labelRight {
  margin-left: 1rem;
}

.Toggle {
  align-items: center;
  border: 1px solid $grey3;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  height: 1.4rem;
  position: relative;
  transition: all.2s;
  width: 2.2rem;

  &::after {
    border-radius: 50%;
    content: '';
    height: 1.8rem;
    position: absolute;
    transition: all.2s;
    width: 1.8rem;
  }
}
