$brnad_color: #473cac;
$bg-gray: #f0f0f0;
$dark-gray: #4c4c4c;
$gray: #707070;
$border-gray: #f0f0f0;
$light-gray: rgba(0, 0, 0, 0.16);
$blue: #5493bf;
$green: #40ce79;
$purple: #60668e;
$red: #d23d50;
$cream: #f9f9f4;
$navbar-height: 7rem;
$dark-cream: #bcbba6;
$media-width-sm: 800px;
$media-width-md: 1040px;
$media-width-lg: 1200px;
%title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}
%titleh3 {
  @extend %title;
  color: var(--title-h3-color, $dark-gray);
  font-size: 1.5rem;
}
%titleh2 {
  @extend %title;
  color: var(--title-h2-color, $dark-gray);
  font-size: 2rem;
}
%titleh1 {
  @extend %title;
  color: var(--title-h1-color, $dark-gray);
  font-size: 3rem;
}
%morelink {
  color: $blue;
  font-size: 1.3rem;
  text-decoration: none;
  border-bottom: 1px solid $blue;
  text-transform: capitalize;
  &:hover {
    border-color: transparent;
  }
}
%rounded_btn {
  background-color: $brnad_color;
  border-radius: 3rem;
  min-width: 10rem;
  color: #fff;
  height: 3.5rem;
  line-height: 1.5rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: capitalize;
  &:hover {
    background-color: darken($brnad_color, 10%);
  }
}
%truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
