:root {
  --bg-color: #fff;
  --input-border-color: #{$light-gray};
  --title-h3-color: #{$dark-gray};
  --title-h2-color: #{$dark-gray};
  --title-h1-color: #{$dark-gray};
  --social-icon-color: #{$brnad_color};
}
html {
  font-size: 62.75%;
}
body {
  font-family: 'DM Sans', sans-serif;
  color: lighten($dark-gray, 20%);
  background: var(--bg-color);
  font-size: 1.2rem;
}
main {
  min-height: 70vh;
  margin: 3rem 0;
}
a {
  text-decoration: none;
  color: lighten($dark-gray, 20%);

  &:hover {
    color: $brnad_color;
  }
}
