@font-face {
  font-family: 'mp';
  src: url('../fonts/mp.eot?rxp9rf');
  src: url('../fonts/mp.eot?rxp9rf#iefix') format('embedded-opentype'),
    url('../fonts/mp.ttf?rxp9rf') format('truetype'),
    url('../fonts/mp.woff?rxp9rf') format('woff'),
    url('../fonts/mp.svg?rxp9rf#mp') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mp' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-full:before {
  content: '\e900';
}
.icon-check:before {
  content: '\e901';
}
.icon-chevron-down:before {
  content: '\e902';
}
.icon-chevron-left:before {
  content: '\e903';
}
.icon-chevron-right:before {
  content: '\e904';
}
.icon-chevron-up:before {
  content: '\e905';
}
.icon-filter:before {
  content: '\e906';
}
.icon-lock:before {
  content: '\e907';
}
.icon-mail:before {
  content: '\e908';
}
.icon-map-pin:before {
  content: '\e909';
}
.icon-menu:before {
  content: '\e90a';
}
.icon-phone:before {
  content: '\e90b';
}
.icon-star:before {
  content: '\e90c';
}
.icon-user:before {
  content: '\e90d';
}
.icon-x:before {
  content: '\e90e';
}
