.select_box {
  border: none;
  box-sizing: border-box;
  margin: 2rem 0 1.5rem;
  padding: 0;
  position: relative;
  background: #fff;
  cursor: pointer;
  &.error {
    input {
      border: 1px solid $red;
    }
  }

  label {
    color: $gray;
    // display: block;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    span {
      font-size: 1rem;
    }
  }

  .option_wrapper {
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    clear: both;
    font-size: 1.4rem;
    height: 4.5rem;
    outline: none;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      display: block;
      max-width: calc(100% - 20px);
      &.selectedVal {
        color: $dark-gray;
      }
    }
    &:focus,
    &:active {
      // border: 1px solid $light-gray;
      outline: none;
    }
    [class='icon-chevron-down'] {
      transition: all 0.2s;
    }
    &.active {
      [class='icon-chevron-down'] {
        transform: rotate(180deg);
      }
      .options {
        display: block;
      }
    }
    .options {
      display: none;
      position: absolute;
      background: #fff;
      width: 100%;
      min-width: 200px;
      top: 100%;
      left: 0;
      margin-top: -0.4rem;
      z-index: 99;
      box-shadow: 0 5px 5px rgba(#000, 0.2);
      border-radius: 0.5rem 0.5rem;
      ul {
        margin: 0.5rem 0;
        padding: 0;
        list-style: none;
        max-height: 200px;
        overflow: hidden;
        overflow-y: auto;
        li {
          padding: 0.5rem 1rem;
          line-height: 3rem;
          cursor: pointer;
          border: 1px solid $border-gray;
          &:hover {
            color: $dark-gray;
          }
        }
      }
    }
  }

  .hint,
  .error_message {
    color: $gray;
    display: block;
    font-size: 1rem;
    margin: 0.2rem 0 0;
  }

  .error_message {
    bottom: -1.5rem;
    color: $red;
    position: absolute;
  }

  .optional {
    margin-top: 0.4rem;
  }
}
